# Description
Let's start getting familiar with NoSQL databases !!!! We start with a few basic exercises

Level 1
- Exercise 1
Create a NoSQL database using MongoDB. Add some sample data that will allow you to check that you are able to process the information in a basic way.

- Exercise 2
Connect the NoSQL database to Python using pymongo for example.

Level 2
- Exercise 1
Load some simple queries to a Pandas Dataframe. 

Level 3
- Exercise 1
Generate a statistical summary of the information contained in the database.

Resources
Classroom resources and https://docs.spring.io/spring-data/mongodb/docs/current/reference/html/#reference .

# Level 1
## - Exercise 1
Create a NoSQL database using MongoDB. Add some sample data that will allow you to check that you are able to process the information in a basic way.

## Solution:

![](2022-04-08-10-21-14.png)

This is an screenshot showing that I have installed MongoDB locally (version v5.0.6) and also created some sample data in a new database named S14_T01.


## - Exercise 2
Connect the NoSQL database to Python using pymongo for example.

### Connection to MongoDB from VSCode
This is an introductory screenshot showing that we can connect from vscode to our MongoDB Database:
![](2022-04-08-10-25-58.png)   
And now, we install pymongodb and extract some simple data:

## Solution:

### First, connect to database with pymongo and extract some info values.

In [28]:
from pymongo import MongoClient
# pprint library is used to make the output look more pretty
from pprint import pprint
# connect to MongoDB, change the << MONGODB URL >> to reflect your own connection string
client = MongoClient('mongodb://localhost:27017')
db=client.admin
# Issue the serverStatus command and print the results
serverStatusResult=db.command("serverStatus")
# pprint(serverStatusResult)

### As the output is too large to see it in Notebook cell, we save it in the file S14_T01_NoSQL_Databases_Output.json

### Second, create an example database in MongoDb

In [29]:
from random import randint
#Step 1: Connect to MongoDB - Note: Change connection string as needed
client = MongoClient(port=27017)
db=client.business
#Step 2: Create sample data
names = ['Kitchen','Animal','State', 'Tastey', 'Big','City','Fish', 'Pizza','Goat', 'Salty','Sandwich','Lazy', 'Fun']
company_type = ['LLC','Inc','Company','Corporation']
company_cuisine = ['Pizza', 'Bar Food', 'Fast Food', 'Italian', 'Mexican', 'American', 'Sushi Bar', 'Vegetarian']
for x in range(1, 501):
    business = {
        'name' : names[randint(0, (len(names)-1))] + ' ' + names[randint(0, (len(names)-1))]  + ' ' + company_type[randint(0, (len(company_type)-1))],
        'rating' : randint(1, 5),
        'cuisine' : company_cuisine[randint(0, (len(company_cuisine)-1))] 
    }
    #Step 3: Insert business object directly into MongoDB via insert_one
    result=db.reviews.insert_one(business)
    #Step 4: Print to the console the ObjectID of the new document
    # print('Created {0} of 500 as {1}'.format(x,result.inserted_id))
#Step 5: Tell us that you are done
print('finished creating 500 business reviews')

finished creating 500 business reviews

### Finally, show some values from this example db.

In [18]:
fivestar = db.reviews.find_one({'rating': 5})
print(fivestar)

{'_id': ObjectId('624ff457b32087a0f5f46b1b'), 'name': 'Lazy Salty Inc', 'rating': 5, 'cuisine': 'Mexican'}


# Level 2
## - Exercise 1
Load some simple queries to a Pandas Dataframe.

In [19]:
fivestarcursor = db.reviews.find({'rating': 5})
fivestarcursor

In [20]:
fivestarlist = []
for row in fivestarcursor:
  fivestarlist.append(row)

### Solution:

Below the query of all 5-star hotels to df.

In [21]:
import pandas as pd
fivestar_df = pd.DataFrame(fivestarlist)
fivestar_df

                          _id                      name  rating     cuisine
0    624ff457b32087a0f5f46b1b            Lazy Salty Inc       5     Mexican
1    624ff457b32087a0f5f46b1e     Big State Corporation       5     Italian
2    624ff457b32087a0f5f46b22          Tastey State LLC       5  Vegetarian
3    624ff457b32087a0f5f46b23        Sandwich State Inc       5     Mexican
4    624ff457b32087a0f5f46b27       Animal Fish Company       5     Mexican
..                        ...                       ...     ...         ...
401  6251dd01896621c9b47b53a1  Tastey State Corporation       5  Vegetarian
402  6251dd01896621c9b47b53aa     Sandwich City Company       5    Bar Food
403  6251dd01896621c9b47b53ac    Sandwich Pizza Company       5    Bar Food
404  6251dd01896621c9b47b53ae           Goat Tastey Inc       5   Sushi Bar
405  6251dd01896621c9b47b53ba           Kitchen Fun LLC       5     Italian

[406 rows x 4 columns]


# Level 3
## - Exercise 1
Generate a statistical summary of the information contained in the database.

### Solution:

If the statistical summary of the information in the database means something like the ServerStatus performed on Level 1 - Exercise 1. This is already done.

But, if the information asked for is something like a "describe" of all the database, we are going to do it now.

In [22]:
# db('business').collection('reviews').find({}).limit(100).toArray()
# Now let's use the aggregation framework to sum the occurrence of each rating across the entire data set
print('\nThe sum of each rating occurance across all data grouped by rating ')
stargroup=db.reviews.aggregate(
# The Aggregation Pipeline is defined as an array of different operations
[
# The first stage in this pipe is to group data
{ '$group':
    { '_id': "$rating",
     "count" : 
                 { '$sum' :1 }
    }
},
# The second stage in this pipe is to sort the data
{"$sort":  { "_id":1}
}
# Close the array with the ] tag             
] )

# Print the result
for group in stargroup:
    print(group)

The sum of each rating occurance across all data grouped by rating
{'_id': 1, 'count': 387}
{'_id': 2, 'count': 409}
{'_id': 3, 'count': 392}
{'_id': 4, 'count': 406}
{'_id': 5, 'count': 406}

In [23]:
Alldatacursor = db.reviews.find({})
Alldatacursor

In [24]:
Alldatalist = []
for row in Alldatacursor:
    Alldatalist.append(row)

In [25]:
df = pd.DataFrame(Alldatalist)
df

                           _id                    name  rating    cuisine
0     624ff457b32087a0f5f46b1b          Lazy Salty Inc       5    Mexican
1     624ff457b32087a0f5f46b1c     Tastey Lazy Company       1  Sushi Bar
2     624ff457b32087a0f5f46b1d    Sandwich Big Company       4   American
3     624ff457b32087a0f5f46b1e   Big State Corporation       5    Italian
4     624ff457b32087a0f5f46b1f  Tastey Fun Corporation       2   Bar Food
...                        ...                     ...     ...        ...
1995  6251dd01896621c9b47b53bc       Big Pizza Company       2   American
1996  6251dd01896621c9b47b53bd         State Pizza LLC       1      Pizza
1997  6251dd01896621c9b47b53be       Kitchen State LLC       2      Pizza
1998  6251dd01896621c9b47b53bf           Pizza Fun Inc       1  Sushi Bar
1999  6251dd01896621c9b47b53c0    Pizza Tastey Company       4    Mexican

[2000 rows x 4 columns]

### This is a statistical summary of the information contained in the database:

In [27]:
df.describe(include='all').round(2).T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
_id,2000,2000,624ff457b32087a0f5f46b1b,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
name,2000,647,Sandwich Lazy Company,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rating,2000.0,NaN,NaN,NaN,3.02,1.41,1.0,2.0,3.0,4.0,5.0
cuisine,2000,8,Italian,269,NaN,NaN,NaN,NaN,NaN,NaN,NaN